*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    /* background-color: rgb(110, 121, 187); */
    padding: 34px;
    margin: auto;
    margin-top: 0px;
}

.container h1, p{
    text-align: center;
}

/* .container form, input{
    align-items: center;
} */

input{
    width: 40%;
    margin: 12px;
    /* margin-top: 20px; */
    padding: 7px;
    font-size: 15px;
    border-radius: 20px;
    outline: none;
    
}

form{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    background: darkseagreen;
    color: black;
    padding: 7px;
    border-radius: 8px;
    outline: none;
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
}

.p2{
    color: rgb(79, 99, 8);
    font-size: 20px;
}


.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

/* input text{
    align-content: center;
    text-align: center;
} */